{% extends '_base.html' %}
{% load static %}

{% block title %}Reza's book store — bag{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
{% endblock %}



{% block content %}
    <div id="book-list">
        {% for item in items %}
            <div class="book-grid" id="book-grid">
                <div class="book-card-cover" style="background:{{ book.coverBg }}">
                    <img
                            src="{{ item.book.cover.url }}"
                            alt="Cover of {{ item.book.title }}"
                    />
                </div>
                <div class="book-card-body">
                    <h3 class="book-title">{{ item.book.title }}</h3>
                    <p class="book-author">{{ item.book.author }}</p>
                    <p class="book-desc">{{ item.book.category }}</p>
                </div>

                <div class="book-card-footer">
                    <p class="book-price"> $ {{ item.book.price }} </p>
                    <p class="quantity">  x{{ item.quantity }} </p>
                    <div>
                        <div class="adj-quantity">
                            <a href="{% url 'add_one_to_cart' item.book.pk %}" class="btn-add-to-bag" style="font-size: 10px">+</a>
                            <a href="{% url 'remove_one_from_cart' item.book.pk %}" class="btn-add-to-bag" style="font-size: 10px">-</a>
                        </div>
                        <a href="{% url 'remove_from_cart' item.book.pk %}" class="btn-add-to-bag" style="font-size: 10px">Remove</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>Your cart is empty.</p>
        {% endfor %}
    </div>

    <div class="cart-footer">
        <strong>Total: ${{ total }}</strong>
        <a href="" class="btn-add-to-bag">Finalize</a>
    </div>

{% endblock %}
