{% extends '_base.html' %}

{% block page_title %}
    Books List
{% endblock %}

{% block content %}
    <a href="{% url 'book_create' %}" > <button>New Book</button></a>
    {% for book in book_list %}
        <a href="{{ book.get_absolute_url }}"><p>{{ book.title }}</p></a>
        <p>{{ book.author }}</p>
        <p>{{ book.category }}</p>
        <p>{{ book.price }}</p>
        <a href="{{ book.get_absolute_url }}"><button>More</button></a>
        <br>
        _______________________________________________________
    {% endfor %}
{% endblock %}