{% extends '_base.html' %}
{% load static %}

{% block title %}Reza's book store — Wishlist{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
{% endblock %}



{% block content %}
    <div id="book-list">
        {% for wishlist in wishlists %}
            <div class="book-grid" id="book-grid">
                <div class="book-card-cover" style="background:{{ book.coverBg }}">
                    <img
                            src="{{ wishlist.book.cover.url }}"
                            alt="Cover of {{ wishlist.book.title }}"
                    />
                </div>
                <div class="book-card-body">
                    <h3 class="book-title">{{ wishlist.book.title }}</h3>
                    <p class="book-author">{{ wishlist.book.author }}</p>
                    <p class="book-desc">{{ wishlist.book.category }}</p>
                </div>
                <div class="book-card-footer">
                    <div>
                        <span class="book-price">$ {{ wishlist.book.price }} </span>
                    </div>
                    <a href="{% url 'book_detail' pk=wishlist.book.pk %}" class="btn-add-to-bag">
                        More
                    </a>
                    <a href="/cart/add?book={{ wishlist.book.title|urlencode }}" class="btn-add-to-bag">
                        <svg viewBox="0 0 24 24" width="13" height="13" stroke="currentColor" fill="none"
                             stroke-width="2.5" aria-hidden="true">
                            <path d="M6 2 3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"/>
                            <line x1="3" y1="6" x2="21" y2="6"/>
                            <path d="M16 10a4 4 0 0 1-8 0"/>
                        </svg>
                        Add to Bag
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block extra_js %}
    <script src="{% static  'js/home.js' %}" defer></script>
{% endblock %}